# ------------------------------------------------------------
# Nextcloud
# ------------------------------------------------------------


NEXTCLOUD_IMAGE=nextcloud:32-apache

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD

NEXTCLOUD_TRUSTED_DOMAINS=cloud.example.org


# ------------------------------------------------------------
# MariaDB
# ------------------------------------------------------------

MARIADB_IMAGE=mariadb:11.4

MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=CHANGE_ME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD


# ------------------------------------------------------------
# Redis
# ------------------------------------------------------------

REDIS_IMAGE=redis:7-alpine


# ------------------------------------------------------------
# Docker / Reverse Proxy
# ------------------------------------------------------------

PROXY_NETWORK=proxy